.clj-kondo/.cache
.lsp/.cache
.portal/vs-code.edn
.project
.settings/*
/clj/cfml/.lein-failures
/clj/cfml/target/stale/extract-native.dependencies
/clj/task/.lein-failures
/clj/task/target/stale/extract-native.dependencies
clj/task/derby.log
clj/task/taskdb/*
settings.xml
WEB-INF/*
